/* body
padding
margin
line-height
font-family. */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkblue;
    color: white;
    margin-bottom: 40px;
}

nav{
    display: flex;
    margin-bottom: 5vh;
    text-align: center;
}

nav ul {
    padding: 5px;
}

nav li{
	padding:5px;
	width: auto;
	display: inline-block;
    border-radius: 2px;
    font-family: sans-serif;
    text-decoration: underline;
}

p{
    text-align: center;
    margin-bottom: 4vh;
}

nav a {
    color: white;
}

/*
COLLEEN -
I would move some of the hover stuff into active.active
Color alone to signify  */
li.active {
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 2rem;
}

li:hover{
    background-color: white;
    font-family: monospace;
    text-transform: uppercase;
}

a:hover{
    color: black;
}

img {
    border: 3px solid black;
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
    background-color: coral;
    height: 150px;
    width: 150px;
    object-fit: cover;
    overflow:scroll;
}

img:hover {
    box-shadow: 10px 10px dodgerblue;
}

.skip {
    color: black;
    position:fixed;
    left: -500px;
}

.skip:hover {
    background-color: greenyellow;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    justify-items: center;
    margin: 1.25rem;
}

figure{
    max-width: 80%;
    margin: 10px;
    text-align: center;
}

.text {
    margin: 1rem;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact_form {
    opacity: 1.0;
}

.submit_button {
    color: gray;
}

.contact_form_img{
    background: lightskyblue url(../images/background.jpg);
    opacity: .4;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

footer {
    text-align: center;
}

.contact_form_container {
    overflow: hidden;
}

.home_img{
    animation-name: home_img;
    animation-duration: 5s;
}

@keyframes home_img{
    from {width: 10px; opacity: 0;}
    to {width: 150px; opacity: 1;}
}